<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Технічна підтримка</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/css/support.css">
</head>
<body>
    <section id="section-wrapper">
        <div class="box-wrapper">
            <div class="info-wrap">
                <h2 class="info-title">Контактні дані</h2>
                <h3 class="info-sub-title">Заповніть форму, і наша команда зв’яжеться з вами протягом 24 годин</h3>
                <ul class="info-details">
                    <li>
                        <i class='bx bxs-phone'></i>
                        <span>Телефон:</span> <a href="tel:+ 0982849700">+ 0982849700</a>
                    </li>
                    <li>
                        <i class='bx bx-at' ></i>
                        <span>Email:</span> <a href="bodik.kovalchuk1998@gmail.com">bodik.kovalchuk1998@gmail.com</a>
                    </li>
                    <li>
                        <i class='bx bx-globe' ></i>
                        <span>Головна:</span> <a href="/">ItBody</a>
                    </li>
                </ul>
                <ul class="social-icons">
                    <li><a href="https://uk-ua.facebook.com/"><i class='bx bxl-facebook' ></i></a></li>
                    <li><a href="https://web.telegram.org/a/"><i class='bx bxl-telegram' ></i></a></li>
                    <li><a href="https://discord.com/"><i class='bx bxl-discord-alt' ></i></a></li>
                </ul>
            </div>
            <div class="form-wrap">
                <form action="#" method="POST">
                    <h2 class="form-title">Відправити ваше повідомлення</h2>
                    <div class="form-fields">
                        <div class="form-group">
                            <input type="text" class="fname" placeholder="Фамілія" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="lname" placeholder="Ім'я" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="email" placeholder="Пошта" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="phone" placeholder="Номер">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="" placeholder="Ваше повідомлення"></textarea>
                        </div>
                    </div>
                    <input type="submit" value="Send Message" class="submit-button">
                </form>
            </div>
        </div>
    </section>
</body>
</html>